body{
  background: black;
}

header .row {
  align-items: center;
  display: flex;
}

#siteTitle{
  font-size: 150px;
  font-family: 'Cinzel', cursive;
  text-align: center;
  background-image: url("https://www.science.org.au/curious/sites/default/files/images/curious/environment/eSTaa5-ocean-surface-1000x1000.jpg");
  background-size: cover;
  margin: 0px;
  border: 0px;
  padding: 0px;
}


.section-1{
  background-image: url("https://static.soundsandcolours.com/2016/10/south-american-casinos.jpg");
  margin: 0px;
  border: 0px;
  padding: 100px;
}

h2{
  font-family: 'Abril Fatface', 'Lexend', cursive;
  text-align: center;
  font-size: 100px;
  background-color: black;
  color: Gold;
}

p{
  margin: 25px 20px 15px;
  min-width: 60px;
  padding: 1px;
  background: #722F37;
  text-align: center;
  justify-content: center;
  font-family: 'Lexend',inherit;
}
