

header .row {
  align-items: center;
}

#siteTitle{
  font-size: 150px;
  font-family: 'Cinzel', cursive;
  text-align: center;
}

section.container.row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

h5{
  font-family: 'Lexend', sans-serif;
  text-align: center;
}
