body{
  background-color: black;
}
#main-title{
  color: yellow;
  text-align: center;
  font-size: 200px;
  font-family: 'Staatliches', cursive;
  letter-spacing: 10px;
}

#main-title-subheading{
  color: yellow;
  text-align: center;
  font-family: 'Staatliches', cursive;
}

#wrapper{
  overflow: hidden;
  align-self: center;
  width: 100%;
}

.shibe{

  display: inline-block;
  border-width: thick;
  border-style: ridge;
  border-color: yellow;
}
#shibe1{
  float: left;
  margin: 5px;
  left: 25%;
}
#shibe2{
  margin: 5px;
  left: 75%;
}
.shibe-chooser{
  background-color: gold;
  font-family: 'Staatliches', cursive;
  font-weight: bold;
}
