body{
  background-color: black;
}
#main-title{
  color: yellow;
  text-align: center;
  font-size: 200px;
  font-family: 'Staatliches', cursive;
  letter-spacing: 10px;
}

#main-title-subheading{
  color: yellow;
  text-align: center;
  font-family: 'Staatliches', cursive;
}

#wrapper{
  overflow: hidden;
}

#shibe1{
  width: 50px;
  float: left;
  border: 5px;
}
#shibe2{
  width: 50px;
  float:left;
  border: 5px;

}
