body{
  background-color: black;
}
#main-title{
  color: yellow;
  text-align: center;
  font-size: 200px;
  font-family: 'Staatliches', cursive;
  letter-spacing: 10px;
}

#main-title-subheading{
  color: yellow;
  text-align: center;
  font-family: 'Staatliches', cursive;
}

#wrapper{
  display: inline-block;
  overflow: hidden;
  align-self: center;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.shibe{
  display: inline-flex;
  border-width: thick;
  border-style: ridge;
  border-color: yellow;

}
#shibe1{
  float: left;
  margin-left: 25%;
  margin-top: 20px;
  margin-bottom: 10px;
}
#shibe2{
  margin-right: 25%;
  float:right;
  margin-top: 20px;
  margin-bottom: 10px;
}
.shibe-chooser{
  background-color: gold;
  font-family: 'Staatliches', cursive;
  font-weight: bold;
}
.container{
  height: 500px;
  width: 100%;
}
#pic1{
  
  background-color: red;
}
#pic2{
  background-color: blue;
}
